.process_base {
    position: fixed;
    background: rgb(137, 156, 163);
    width: 100vw;
    height: 29vh;
    bottom: 0;
    border-top: solid 1vh white;
    overflow: scroll;
}

.process {
    background: rgb(255, 175, 101);
    width: 80%;
    height: 30px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}