.room_header {
    display: flex;
    background: rgb(137, 156, 163);
    width: 100vw;
    height: 10vh;
    position: fixed;
}

.run_button {
    background: rgb(195, 255, 56);
    width: 100px;
    height: 6vh;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

.save_button {
    background: rgb(69, 56, 255);
    width: 100px;
    height: 6vh;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}