.storage_base {
    position: fixed;
    background: rgb(137, 156, 163);
    width: 19vw;
    height: 60vh;
    margin-top: 10vh;
    right: 0;
    border-left: solid 1vw white;
    overflow: scroll;
}

.data_base {
    margin: 10px 5px;
    padding: 5px;
    border: solid 1px rgb(88, 88, 88);
}

.data {
    display: block;
    overflow: hidden;
    background: rgb(170, 255, 101);
    margin: 0px;
    border: solid 1px rgb(122, 122, 122);
    text-align: left;
    white-space: nowrap;
    user-select: none;
}