.storage_base {
    background: rgb(137, 156, 163);
    width: 98%;
    height: 49vh;
    border-bottom: solid 5px white;
    overflow: scroll;
}

.data {
    background: rgb(170, 255, 101);
    width: 80%;
    height: 30px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}