.storage_base {
    background: rgb(137, 156, 163);
    width: 98%;
    height: 49vh;
    border-bottom: solid 5px white;
    overflow: scroll;
}

.data_base {
    margin: 10px 5px;
    padding: 5px;
}

.data {
    display: block;
    overflow: hidden;
    background: rgb(170, 255, 101);
    margin: 0px;
    border: solid 1px rgb(88, 88, 88);
    text-align: left;
    white-space: nowrap;
    user-select: none;
}